@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de gestion de Northwind</h1>
    <p>Por favor inicie sesion para poder administrar el sistema.</p>
</div>
